h1, h2, h3, p{
  font-family: Helvetica;
}

h1.maintitle{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg)
}

.brushes,.frames,.paint{
  color: white;
  font-size: 32px;
  font-weight: bold;
}

h2.brushes{
  background-color: mediumspringgreen;
}

h2.frames{
  background-color: coral;
}

h2.paint{
  background-color:skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
